---
import Icon from "@assets/Icon.astro"
import type { Repository } from "@api/githubRepoApi"

export interface Props {
  repo: Repository
}
const { repo } = Astro.props

const repoUrl = `https://github.com/${repo.owner.login}/${repo.name}`
const languagesTotal = repo.languages.totalSize
---

<div class="bg-white text-black h-full">
  <div class="flex overflow-hidden h-2">
    {
      repo.languages.edges
        .sort((a, b) => b.size - a.size)
        .map((language) => {
          return (
            <a
              style={`background-color:${language.node.color} !important;;width: ${
                (language.size / languagesTotal) * 100
              }%`}
              href={`${repoUrl}/search?l=${language.node.name}`}
              target="_blank"
            />
          )
        })
    }
  </div>
  <div class="px-4 py-6">
    <a href={repoUrl} target="_blank">
      <span class="text-xl">
        {repo.owner.login}/<span class="font font-bold">{repo.name}</span>
      </span>
    </a>
    {
      repo.homepageUrl && (
        <a href={repo.homepageUrl} target="_blank">
          <Icon name="external-link" class="inline h-5 w-5" />
        </a>
      )
    }
    {repo.description && <p class="mt-2">{repo.description}</p>}
    {
      repo.repositoryTopics.nodes.length > 0 && (
        <div class="mt-2 flex flex-wrap gap-2">
          {repo.repositoryTopics.nodes.map((topic) => {
            return (
              <a
                href={`https://github.com/search?q=user%3A${repo.owner.login}+${topic.topic.name}`}
                class="w-max transform cursor-pointer rounded-full border border-gray-300 px-3 text-sm transition duration-300 ease-in-out active:bg-gray-300"
                target="_blank"
              >
                {topic.topic.name}
              </a>
            )
          })}
        </div>
      )
    }
  </div>
</div>
